<!doctype html>
<!-- 
  The exp.html is the main form that
  controls the experiment.

  see comments throughout for advice
-->
<html>
<head>
	<title>Psychology Experiment</title>
	<meta charset="utf-8">
	<link rel="Favicon" href="/static/favicon.ico" />

        <!-- libraries used in your experiment 
			psiturk specifically depends on underscore.js, backbone.js and jquery
		-->
		<script src="/static/lib/jquery-min.js" type="text/javascript"> </script>
		<script src="/static/lib/underscore-min.js" type="text/javascript"> </script>
		<script src="/static/lib/backbone-min.js" type="text/javascript"> </script>
		<script src="/static/lib/d3.v3.min.js" type="text/javascript"> </script>



		<!-- utils.js and psiturk.js provide the basic psiturk functionality -->
		<script src="/static/js/utils.js" type="text/javascript"> </script>
		<script src="/static/js/psiturk.js" type="text/javascript"> </script>

		<!-- task.js is where you experiment code actually lives 
			for most purposes this is where you want to focus debugging, development, etc...
		-->
		<script src="/static/js/task.js" type="text/javascript"> </script>

		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
	</head>
	<body>
		<canvas id="expDisplay">
		</canvas>
		<script type="text/javascript">
		
			// These fields provided by the psiTurk Server
			var myUniqueId = "{{ uniqueId }}";  // a unique string identifying the worker/task

			var myCondition = "{{ condition }}"; // the condition number
			var myCounterbalance = "{{ counterbalance }}"; // a number indexing counterbalancing conditions
			var myAdServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
			var myMode = "{{ mode }}";
			var psiTurk = PsiTurk(myUniqueId, myAdServerLoc);
		  	config_testing = {
		  	  condition: myCondition,
		      blockSize: 10,
		      nBlocks: 2,
		      contextDur: 1,
		      iti: 1,
		      riMin: 0,
		      riMax : 25,
		      spacebarTimeout: 1,
		      blockRestDur: 1,
		      nPraxTrials: 2,
		      nTestAttempts: 50,
		      testStreakToPass: 2,
		      minPayment: 1,
		      maxBonus: 5,
		      correctPoints: 10,
		      inaccPenalty: 0,
		      penaltyPerSecond: 0,
		      pointsPerDollar: 1000,
		      deadline: 5,
		      trialDist: [0.5, 0.2, 0.2, 0.1],
		      fontFamily: "sans-serif",
		      instructionFontSize: 30,
		      taskFontSize: 100,
		      experimenterEmail: "pni.nccl.mturk+ms44@gmail.com"
			};
		  config = {
		  	  condition: myCondition,
		      blockSize: 10,
		      nBlocks: 24,
		      contextDur: 500,
		      iti: 500,
		      riMin: 0,
		      riMax : 8000,
		      spacebarTimeout: 500,
		      blockRestDur: 5,
		      nPraxTrials: 6,
		      nTestAttempts: 50,
		      testStreakToPass: 5,
		      minPayment: 1,
		      maxBonus: 5,
		      correctPoints: 10,
		      inaccPenalty: 0,
		      penaltyPerSecond: 0,
		      pointsPerDollar: 1000,
		      deadline: 5,
		      trialDist: [0.5, 0.2, 0.2, 0.1],
		      fontFamily: "sans-serif",
		      instructionFontSize: 30,
		      taskFontSize: 100,
		      experimenterEmail: "pni.nccl.mturk+ms44@gmail.com"
			};
			psiTurk.preloadPages(["debriefing.html"]);
			r = new Renderer(config);
			e = new Experiment(config);
			// r = new Renderer(config_testing);
			// e = new Experiment(config_testing);
			e.run(); 

		</script>
		<noscript>
			<h1>Warning: Javascript seems to be disabled</h1>
			<p>This website requires that Javascript be enabled on your browser.</p>
			<p>Instructions for enabling Javascript in your browser can be found 
				<a href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
			</noscript>
		</body>
		</html>

